name: CI

on:
  push:
    branches: ["master"]
    tags: ["v*"]
  pull_request:

jobs:
  build-and-test:
    name: Build and Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            swift-version: "6.0"
          - os: macos-14
            swift-version: "6.0"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift-version }}

      - name: Swift Version
        run: swift --version

      - name: Build
        run: swift build --build-tests

      - name: Test
        run: swift test
